# Ignore Python virtual environments
venv/
env/
*.env
flask-env/

# Ignore pip cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignore dependencies from various dependency managers
pip-wheel-metadata/
*.whl
*.egg-info
dist/
build/

# Ignore lock files (optional if you don't want to commit them)
Pipfile.lock
poetry.lock
